/* HNG1.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFADD;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    border-radius: 50%;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #0074cc;
}

a:hover {
    text-decoration: underline;
}
